  
 content {

    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;

    flex: 1 1 auto;
    color: white;
    background: #333;
}

content:hover {
    box-shadow: 0 0 2rem gray;
    color:black;
    background: white;
}