body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

html {
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
}

#content {
	width: 25%;
	display: inline-block;
	vertical-align:top;
	font-size:33px;
}

h1 {
	margin:0;
	font-size:48px;
}

#root {
	display: inline-block;
	font-size:33px;
}

.calculator {
	border: 1px solid #ddd;
	margin: 0 auto;
	display: inline-block;
	font-family: 'Roboto Mono', 'Courier New', monospace;
}

.calcButton{
	display: inline-block;
	text-align: center;
	background-color: #eee;
	padding: 14px;
	margin: 3px;
}

.calcButton:hover{
	background-color: #ccc;
	cursor: pointer;
}

.calcDisplay{
	background-color: #0cf;
	color: #6ff;
	padding: 5px;
	margin: 3px;
	max-width:6em;
	text-align:right;
	overflow: hidden;
}
