
.display {
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: 10px solid rgb(221, 220, 220);
    border-radius: 50%;    
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 300px;
}

.display-time {
    border: none;
    background-color: rgb(240, 240, 240);
    color: rgb(38, 203, 245);
    font-size: 46px;
    font-weight: 600;
    outline-width: 0;
    text-align: center;
    vertical-align: middle;    
    width: 300px;
}