.App {
  max-width: 60rem;
  width: 100%;
  background: lightgray;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}



